.Dictionary section {
background: whitesmoke;
padding: 30px;
border-radius:5px;
box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
margin: 20px 0;
}

.Dictionary h1 {
font-size: 18px;
font-weight: bold;
}

.Dictionary input {
width: 100%;
padding: 6px 10px;
border-radius: 26px;
color: #333;
border: 1px solid #ddd
}

.Dictionary .hint {
margin: 5px 0;
color: #333;
font-size: 11px;

}